h1, h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.25rem;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

.address::before {
    margin-right: 10px;
}

.phone::before {
    margin-right: 10px;
}

.email::before {
    margin-right: 10px;
}

.address-style::before {
    font-family: "Material Icons";
    content: "place";
}

.phone-style::before {
    font-family: "Material Icons";
    content: "smartphone";
}

.email-style::before {
    font-family: "Material Icons";
    content: "email";
}

.subtitle-style {
    color: #2876e2;
    font-size: 1rem;
}

.title {
    margin-bottom: 70px;
    padding-top: 70px;
}
.title-style {
    text-align: center;
}

.itemBlok-style {
    display: flex;
}

.itemBlok-style {
    padding-bottom: 50px;
}

.item  {
    flex-basis: 250px;
    flex-grow: 1;
    margin-right: 30px;
    margin-left: 30px;
    padding: 30px;
    
}
.item-style {
    color: #000;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    h1, h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.25rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    h5 {
        font-size: 1.125rem;
    }
    .itemBlok {
        flex-direction: column;
        align-items: center;
    }
    .item {
        flex-basis: auto;
        flex-grow: 1;
        margin-top: 20px;
    }
}