.btn {
    padding: 15px 70px;
    background-image: linear-gradient(to right, #2876e2 0, #3f8efc 100%);
    border: none;
    border-radius: 5px;
    color: #fff;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    background-image: linear-gradient(to right, #3f8efc 0, #2876e2 100%);
}

.inpt {
    height: 50px;
    flex-grow: 1;
    flex-basis: 50px;
    border-radius: 5px;
    border: 1px solid #d4d4e1;
    padding-left: 15px;
}
.inpt::placeholder {
    color: #d4d4e1;
}
.inpt:focus, .txtarea:focus {
    outline: none;
    border: 1px solid #2876e2;
}

.txtarea {
    border-radius: 5px;
    border: 1px solid #d4d4e1;
    padding: 15px; 
}
.txtarea::placeholder {
    color: #d4d4e1;
}

