.btn {
    padding: 15px 70px;
    background-image: linear-gradient(to right, #2876e2 0, #3f8efc 100%);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: "Istok Web", sans-serif;
    font-size: 1rem;
    line-height: 1.625;
    font-weight: 400;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn:hover {
    background-image: linear-gradient(to right, #3f8efc 0, #2876e2 100%);
}

.inpt {
    height: 50px;
    flex-grow: 1;
    flex-basis: 50px;
    border-radius: 5px;
    border: 1px solid #d4d4e1;
    padding-left: 15px;
}

.inpt::placeholder {
    color: #d4d4e1;
    font-family: "Istok Web", sans-serif;
    font-size: 1rem;
    line-height: 1.625;
    font-weight: 400;
}

.inpt:focus, .txtarea:focus {
    outline: none;
    border: 1px solid #2876e2;
}

.txtarea {
    border-radius: 5px;
    border: 1px solid #d4d4e1;
    padding: 15px;
    font-family: "Istok Web", sans-serif;
    font-size: 1rem;
    line-height: 1.625;
    font-weight: 400;
}

.txtarea::placeholder {
    color: #d4d4e1;
}