.navbar-nav li {
    margin-right: 30px;
}

.navbar-brand {
    margin-left: 7%;
    margin-right: 7%;
}

.logo {
    margin-right: 10px;
}

.navbar {
    height: 85px;
    background-color: #fff;
}

.collapse {
    background-color: #fff;
}

.footer {
    display: flex;
    background-color: #303036;
    color: #fff;
    height: 500px;
}



.cellType1 {
    flex-basis: 250px;
    text-align: justify;
}

.cellType2 {
    flex-basis: 150px;
    text-align: left;
}


.headerForFooter {
    text-align: left;
}

.logoLinkForFooter, .logoLinkForFooter:hover {
    color: #fff;
    text-decoration: none;
}


@media only screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
    }
    
    .cellType1 {
        flex-basis: auto;
    }
    .cellType2 {
        display: none;
    }
    
}