.articleContainer {
    width: 80%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    margin-bottom: 30px;
}

.articleContainer img {
    display: block;
    height: auto;
    max-width: 100%;
    border: 1px solid #d4d4e1;
    border-radius: 10px;
}
.articleContainer h2 {
    margin-top: 3rem;
}

.articleContainer h3 {
    margin-top: 2rem;
}