.articleBlogContainer {
    display: flex;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.articleBlogContainer div {
    margin-left: 30px;
}


.articleBlogContainer img {
    height: auto;
    width: 250px;
    border: 1px solid #d4d4e1;
    border-radius: 10px;
} 

.articleBlogContainer a {
    font-family: "Montserrat", sans-serif;
    color: black;
}

.articleBlogContainer h4 {
    font-weight: 700;
    line-height: 1.33;
    font-size: 1.125rem;
    margin: 0;
}

.articleBlogContainer h4 a {
    font-weight: 700;
    line-height: 1.33;
    font-size: 1.125rem;
}

.articleBlogContainer h4 a:hover {
   color: #2876e2;
}

.articleBlogContainer span a {
    font-family: "Istok Web", sans-serif;
    font-size: 1rem;
    line-height: 1.625;
    font-weight: 400;
    color: #2876e2;
}

.centerButtonContainer {
    padding-bottom: 60px;
}
