.item-form {
    flex-basis: 400px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 0px 30px 30px 30px;
    color: #000;
    text-align: justify;
}

.item-contacts {
    flex-basis: 250px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 30px;
    color: #000;
    text-align: left;
    background-color: #f0f4f8;
    border-radius: 10px;
}

.formInputContainer {
    display: flex;
}

.formInputSubcontainer {
    display: flex;
}

.address::before, .phone::before, .email::before {
    color: #2c7ae7;
}

.item-contacts li {
    padding-bottom: 30px;
}

.btn {
    margin: 30px 0 30px 5px;
}

.inpt {
    margin: 0 5px 10px 5px;
}

.txtarea {
    width: calc(100% - 10px);
    height: 200px;
}

.txtareaContainer {
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    .formInputContainer {
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px) {
    .formInputSubcontainer {
        flex-direction: column;
    }
    .item-form {
        margin: 0;
        padding: 0;
        width: 80%;
    }
    .item-form h3 {
        margin-top: 2rem;
    }
    .item-contacts {
        margin: 0;
        padding: 30px;
        width: 80%;
    }
}