    #carousels {
        position: relative;
        width: 100%;
        height: 630px;
        overflow: hidden;
    }

    .carousel {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        transition: opacity 3s;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: opacity 1s;
        background-size: cover;
        background-position: center;
    }

    .demonstration {
        opacity: 1;
        z-index: 2;
    }

    .btn {
        margin-bottom: 50px;
    }

    .item-sectionService {
        flex-basis: 250px;
        margin-right: 30px;
        margin-left: 30px;
        padding: 20px;
        color: #000;
        text-align: center;
        border-radius: 10px;
        border: 1px solid #d4d4e1;
    }

    .svgContainer-SectionService {
        position: relative; 
        width: 100px; 
        height: 100px; 
        margin-left: auto; 
        margin-right: auto;
    }

    .svgContainer-SectionService div {
        position: absolute; 
        top: 18px; 
        left: 30px; 
        font-family: 'Material Icons'; 
        font-size: 2.5rem; 
        color: #fff;
    }
    .svgContainer-SectionService circle {
        fill: #2876e2;
    }

    @keyframes animationBColor {
        from {background-color: #fff;}
        to {background-color: #2876e2;}
    }
    @keyframes animationFill {
        from {fill: #2876e2;}
        to {fill: #fff;}
    }
    @keyframes animationIcon {
        from {color: #fff;}
        to {color: #2876e2;}
    }

    .item-sectionService:hover {
        animation: animationBColor 0.5s forwards;
        border: none;
    }

    .item-sectionService:hover circle {
        animation: animationFill 0.5s forwards;
    }


    .item-sectionService:hover .svgContainer-SectionService div {
        animation: animationIcon 0.5s forwards;
    }


    .sectionChooseUs {
        background-color: #f0f4f8;
    }

    .item-sectionChooseUs {
        flex-basis: 250px;
        margin-right: 30px;
        margin-left: 30px;
        padding: 30px;
        color: #000;
        text-align: left;
        display: flex;
    }

    .item-sectionChooseUs div:nth-child(1) {
        font-weight: bold;
        color: #2876e2;
    }

    .sectionTeam-itemBlok {
        display: flex;
        justify-content: center;
    }

    .item-sectionTeam {
        overflow: hidden;
        width: 255px;
        height: 360px;
        border-radius: 10px;
        border: 1px solid #d4d4e1;
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 30px;
        position: relative;
    }

    .item-sectionTeam img {
        display: block;
        max-width: 100%;
        height: auto;
        padding: 0;
    }
    .item-sectionTeam h4{
        margin-bottom: 0;
        margin-top: 0.5rem;
    }
    .item-sectionTeam p {
        margin: 0;
    }

    .item-sectionTeam:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border: none;
    }

    .hiddenSocialNetworkContainer {
        visibility: hidden;
        position: absolute; 
        left: 80px; 
        top: 250px;
    }

    .hiddenSocialNetworkContainer a {
        padding: 15px;
        display: inline-block;
    }
    
    
    .hiddenSocialNetworkContainer a {
        padding: 15px;
        display: inline-block;
    }

    .item-sectionTeam:hover .hiddenSocialNetworkContainer{
        visibility: visible;
    }

    
    .hiddenSocialNetworkContainer a:nth-child(1) {
        background: url('../../images/sprites-social.png') -13px -11px;
    }
    
    .hiddenSocialNetworkContainer a:nth-child(2) {
        background: url('../../images/sprites-social.png') -212px -11px;
    }
    
    .hiddenSocialNetworkContainer a:nth-child(3) {
        background: url('../../images/sprites-social.png') -62px -64px;
    }
    
    .hiddenSocialNetworkContainer a:nth-child(1):hover {
        background: url('../../images/sprites-social.png') -162px -11px;
    }
    
    .hiddenSocialNetworkContainer a:nth-child(2):hover {
        background: url('../../images/sprites-social.png') -112px -11px;
    }
    
    .hiddenSocialNetworkContainer a:nth-child(3):hover {
        background: url('../../images/sprites-social.png') -112px -64px;
    }
    

    .item-subBlok {
        display: flex;
        justify-content: center;
    }

    @media only screen and (max-width: 1200px) {
        .sectionTeam-itemBlok {
            flex-direction: column;
        }
    }

    @media only screen and (max-width: 768px) {
        .item-sectionService {
            flex-basis: auto;
            margin-bottom: 20px;
        }
        .item-sectionChooseUs {
            flex-basis: auto;
            margin: 0px;
            width: 80%;
        }
    }

    @media only screen and (max-width: 575px) {
        .sectionTeam-itemBlok {
            flex-direction: column;
        }
        .item-subBlok {
            display: flex;
            flex-direction: column;
            margin-right: auto;
            margin-left: auto;
        }
    }