    #carousels {
        position: relative;
        width: 100%;
        height: 630px;
        overflow: hidden;
    }

    .carousel {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        transition: opacity 3s;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-size: cover;
        background-position: center;
    }

    .demonstration {
        opacity: 1;
        z-index: 2;
    }

    .item-sectionService {
        flex-basis: 250px;
        margin-right: 30px;
        margin-left: 30px;
        padding: 30px;
        color: #000;
        text-align: center;
        border-radius: 10px;
        border: 1px solid #d4d4e1;
    }

    .item-sectionService:hover {
        background-color: #2876e2;
    }

    .sectionChooseUs {
        background-color: #f0f4f8;
    }

    .item-sectionChooseUs {
        flex-basis: 250px;
        margin-right: 30px;
        margin-left: 30px;
        padding: 30px;
        color: #000;
        text-align: left;
        display: flex;
    }

    .item-sectionChooseUs div:nth-child(1) {
        font-weight: bold;
        color: #2876e2;
    }

    .item-sectionTeam {
        overflow: hidden;
        width: 255px;
        height: 300px;
        border-radius: 10px;
        border: 1px solid #d4d4e1;
        text-align: center;
    }

    .item-sectionTeam img {
        display: block;
        max-width: 100%;
        height: auto;
        padding: 0;
    }

    .item-subBlok {
        display: inline-flex;
    }

    .emptyCell {
        flex-basis: 50px;
        flex-grow: 1;
    }

    @media only screen and (max-width: 990px) {
        .itemBlok {
            flex-direction: column;
        }
    }

    @media only screen and (max-width: 768px) {
        .item-sectionService {
            flex-basis: auto;
            margin-bottom: 20px;
        }
        .item-sectionChooseUs {
            flex-basis: auto;
            margin: 0px;
            width: 80%;
        }
        .emptyCell {
            display: none;
        }
    }

    @media only screen and (max-width: 575px) {
        .itemBlok {
            flex-direction: column;
        }
        .item-subBlok {
            flex-direction: column;
        }
    }